/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #ffffff;
    background-color: #0d040d;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 2%;
    margin: 2%;
    background-color: #1f1e1d;
}

.about-me {
    align-content: flex-start;
    padding: 1%;
    margin: 2%;
    background-color: #040303;
}

.summary {
    align-content: flex-start;
    padding: 2%;
    margin: 2%;
    background-color: #5e5f6b;
}

.project-item {
    align-content: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
    width: 30%;
    background-color: #5e5f6b;
}

.skills {
    padding: 2%;
    margin: 2%;
    background-color: #5e5f6b;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 1px;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.section-padding {
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
